.App {
    background-color: #282c34;
    justify-content: center;
    color: white;
    height: 100vh;
    .course{
        border: 1px solid red;
    }
    .course-cart{
        background-color: #4a4a4b;
    }
}
